.body{
background: #334B74;
    overflow: hidden;
    // height: 100vh;
    // padding: 25px 0px 10px 0px;
}

.login{
    width: 389px;
    height: 312px;
transform: rotate(21.81deg);
}
h1{

    font-weight: 800;
font-size: 36px;
color: #00BE9B;
text-align: center;
margin-top: 10rem;
}
h2{
    font-weight: 700;
    font-size: 36px;

    color: #FFFFFF;
    text-align: center;
}
h3{
    font-weight: 700;
font-size: 40px;

text-align: center;

/* Yellow - 600 */

color: #FFD233;

}
h4{
    font-weight: 700;
font-size: 40px;

text-align: center;


/* Yellow - 600 */

color: #FFD233;

}
h6{
    font-weight: 700;
font-size: 32px;
line-height: 38px;
/* identical to box height */

text-align: center;
/* Orange - 600 */

color: #FF7A00;
}
h5{
    font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
color: rgba(0, 0, 0, 0.7);
}
.form-label{
    font-weight: 500;
font-size: 14px;
line-height: 16px;

/* Blue - 400 */

color: #3F8DF9;
}
/* .content{
    margin-top: 134px;
} */
.btn{

    font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #FFFFFF;
}
.background{
    background: linear-gradient(180deg, rgba(230, 211, 143, 0.47) -66.67%, #FFD233 100%);
}
.content2{
     width: 360px;
    padding: 23px;
    text-align: center;

}
